<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span (mouseleave)="menuTrigger.closeMenu()">
        <button mat-menu-item (click)="home()">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>

        <!-- Bouton pour les commandes -->
        <button mat-menu-item *ngIf="isLoggedIn()" (click)="redirectToOrders()">
          <mat-icon>assignment</mat-icon>
          <span>Commandes</span>
        </button>

        <!-- Lien pour les informations personnelles -->
        <button mat-menu-item *ngIf="isLoggedIn()" (click)="redirectToPersonalInfo()">
          <mat-icon>person</mat-icon>
          <span>Personal Information</span>
        </button>

        <!-- Utilisez *ngIf pour afficher le bouton de connexion (Login) si l'utilisateur n'est pas connecté -->
        <button mat-menu-item *ngIf="isLoggedIn()" (click)="redirectToAddArticle()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Sell Something</span>
        </button>

        <!-- Utilisez *ngIf pour afficher le bouton de connexion (Login) si l'utilisateur n'est pas connecté -->
        <button mat-menu-item *ngIf="isLoggedIn() && isSellerLogin()" (click)="redirectToManageArticle()">
          <mat-icon> attach_money</mat-icon>
          <span>Manage Article</span>
        </button>

        <!-- Utilisez *ngIf pour afficher le bouton de déconnexion (Logout) si l'utilisateur est connecté -->
        <button mat-menu-item *ngIf="isLoggedIn()" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
        
        <!-- Utilisez *ngIf pour afficher le bouton de connexion (Login) si l'utilisateur n'est pas connecté -->
        <button mat-menu-item *ngIf="!isLoggedIn()" (click)="redirectToLogin()">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>

      </span>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Application Title</span>
</mat-toolbar>

<mat-toolbar color="primary">
  <!-- Vos autres éléments de barre de navigation ici -->

  <span class="fill-remaining-space">
    <!-- Votre menu et autres éléments -->
  </span>
  <button mat-icon-button [matBadge]="getCartItemCount()" matBadgeColor="warn" class="buttonPanier">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <!-- Icône de panier avec badge -->
  
</mat-toolbar>
