<h2>Création d'un vendeur</h2>
<form [formGroup]="sellerForm" (ngSubmit)="createSeller()">

    <mat-form-field appearance="fill">
        <mat-label>Adresse du vendeur</mat-label>
        <input matInput formControlName="adress_seller">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Company ID</mat-label>
        <input matInput formControlName="company_ID">
    </mat-form-field>
  
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email_seller">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name_seller">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput formControlName="phone_seller">
    </mat-form-field>

  <button mat-raised-button type="button" (click)="createSeller()">Annuler</button>
  <button mat-raised-button color="primary" type="submit">Créer</button>
</form>
