.address-card {
  margin: 20px;
  padding: 15px;
}

.address-list {
  display: flex;
  flex-direction: column;
}

.address-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c9c9c9; /* Ligne séparatrice pour chaque adresse */
  padding: 10px 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-icon {
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}

.delete-icon:hover,
.delete-icon:active {
  filter: brightness(0.8); /* Réduit légèrement la luminosité lors du survol ou du clic */
  transform: scale(1.1); /* Augmente légèrement la taille lors du survol ou du clic */
}
