<div class="address-cards">
    <ng-container *ngFor="let address of addresses; let i = index;">
      <div class="address-card">
        <mat-card class="mat-elevation-z3">
          <mat-card-content>
            <p>{{ address.street }}</p>
            <p>{{ address.city }}, {{ address.postal_code }}</p>
            <p>{{ address.country }}</p>
          </mat-card-content>
          <div class="delete-icon" (click)="onDeleteIconClick(address)">
            <mat-icon color="warn">delete</mat-icon>
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>  