  
    @media (min-width: 768px) {
        .gradient-form {
        height: 100vh !important;
        }
        }
        @media (min-width: 769px) {
        .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
        }
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
          border-color: black; /* Change la couleur de la bordure en noir */
        }
        input[type="radio"] {
            border-color: black; /* Change la couleur de la bordure en noir */
        }
        /* Ajoute de l'espace entre le libellé "Gender" et les checkboxes */
        .label-gender {
            margin-right: 15px; /* ou toute autre valeur de marge que tu souhaites */
        }